<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Mobileno:</strong>
  <%= @service.mobileno %>
</p>

<p>
  <strong>Email:</strong>
  <%= @service.email %>
</p>

<p>
  <strong>Car:</strong>
  <%= @service.car %>
</p>

<p>
  <strong>Year:</strong>
  <%= @service.year %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @service.problem %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
