<h1>Listing spares</h1>

<table>
  <thead>
    <tr>
      <th>Spare</th>
      <th>Car</th>
      <th>Year</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spares.each do |spare| %>
      <tr>
        <td><%= spare.spare %></td>
        <td><%= spare.car %></td>
        <td><%= spare.year %></td>
        <td><%= spare.email %></td>
        <td><%= spare.phone %></td>
        <td><%= link_to 'Show', spare %></td>
        <td><%= link_to 'Edit', edit_spare_path(spare) %></td>
        <td><%= link_to 'Destroy', spare, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spare', new_spare_path %>
